*{
    padding: 0;
    margin: 0;
}

html,body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: cadetblue;
}

#navbar-container{
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
    padding: 30px;
    align-items: center;
}

.navbar-title{
    font-size: 2em;
}

.navbar-button{
    display: flex;
    list-style: none;
    gap: 3em;
}

.navbar-info{
    display: flex;
    list-style-type: none;
    gap: 3em;
}

#info-board{
    display: none;
    background-color: white;
    line-height: 30px;
    border: 2px solid black;
    border-radius: 10px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    gap: 20px;
}

#dashboard{
    background-color: white;
    border: 2px solid black;
    max-width: max-content;
    padding: 30px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
    border-radius: 20px;
}

.dashboard-heading{
    padding-bottom: 20px;
    font-size: 1.5em;
    font-weight: 700;
}   

.dashboard-decorator{
    width: 10px;
    height: 2px;
    background-color: rgb(255, 153, 0);
}

.select{
    display: block;
    background-color: white;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    border-radius: 5px;
}

.label{
    line-height: 40px;
}

.info-box{
    background-color: lavender;
    margin-top: 10px;
    font-size: 0.8em;
    padding: 10px;
}

.start-quiz-button{
    justify-content: center;
    display: flex;
}

.start-quiz-button button{
    cursor: pointer;
    background-color: white;
    padding: 10px;
    width: 100%;
    margin-top: 10px;

}

#quiz-interface{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: none;
}

.board{
    height:max-content;
    width: 450px;
    border: 2px solid black;
}

.question-info{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.quiz-board{
    padding: 20px;
    border-radius: 10px;
    line-height: 30px;
}

.question-slide{
    display: flex;
    justify-content: space-between;
}

.input{
    cursor: pointer;
    display: block;
    border: 1px solid black;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;

}

#question-number{
    font-size: 0.8em;
}

#quiz-progress{
    width: 100%;
    height: 10px;
    border: 1.5px solid black;
    
    border-radius: 20px;
}

.quiz-completion{
    font-size: 0.8em;
}

#completion-progress{
    background-color: green;
    height: 10px;
    transition: 0.25s;
    border-radius: 20px;
    width: 0%;
}

#question-slide{
    align-items: center;
}

.question{
    font-size: 0.95em;
    font-weight: 600;
}

.question-type{
    font-size: 0.6em;
    border: 1px solid black;
    padding: 2px;
    border-radius: 3px;
    width: max-content;
    padding-left: 5px;
    padding-right: 5px;
}

.question-feature{
    font-size: 0.8em;
}

#question-timer{
    font-size: 2.5em;
    text-align: center;
    padding: 20px;
    border: 2px solid red;
    color: red;
    font-weight: 700;
}

#question-browser{
    display: flex;
    justify-content: space-between;
}

.input p{
    display: inline;
    gap: 10px;
}

.hidden{
    display: none;
}

.up,.down{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.up{
    margin-bottom: 20px;
}

.block{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    height: 50px;
    width: 100px;
    text-align: center;
    line-height: 25px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
}

.box{
    font-size: 1.4em;
}

.value{
    font-size: 1em;
    overflow: hidden;
}

.quiz-stats{
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.question-board{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.question-pallet{
    background-color: red;
    border: 2px solid black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    line-height: 20px;
    color: white;
}

.solved{
    background-color: green;
}

.question-result{
    border: 1px solid black;
    line-height: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
}

footer{
    display: flex;
    justify-content: center;
}

#result-dashboard{
    width: max-content;
    max-width: 800px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    display: none;
    margin-top: -470px;
}

#result-dashboard p{
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.question-result{
    margin-bottom: 20px;
}

#quiz-completion{
    text-align: center;
}

.submit-and-leave{
    justify-content: center;
    text-align: center;
}

.previous{
cursor: pointer;
background-color: rgba(255,0,0,0.6);
padding: 10px;
border-radius: 20px;
border: 0;
margin-top: 10px;
font-weight: 600;
}

.previous:hover{
    transition: 0.2s;
    border: 2px solid black;
    background-color: red;
}

.next{
cursor: pointer;
background-color: rgba(0,255,0,0.6);
padding: 10px;
border-radius: 20px;
border: 0;
margin-top: 10px;
font-weight: 600;
}

.next:hover{
    transition: 0.2s;
    border: 2px solid black;
    background-color: green;
}

.submit{
    cursor: pointer;
    background-color: rgba(0,0,255,0.6);
    border: 0;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    color: white;
    font-weight: 600;
}

.submit:hover{
    transition: 0.2s;
    border: 2px solid black;
    background-color: blue;
}

#submit-and-leave{
    padding: 20px;
    background-color: lightgreen;
    border-radius: 30px;
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 600;
}

#submit-and-leave:hover{
    background-color: green;
    transition: 0.25s;
    scale: 1.1;
    border: 2px solid black;
}
.correct{
    border-color: green;
    color: green;
}

.wrong{
    border-color: red;
    color: red;
}

.score{
    border-color: purple;
    color: purple;
}

.count{
    border-color: brown;
    color: brown;
}

.navbar-option{
    cursor: pointer;
}

.navbar-features{
    cursor: pointer;
}

.correct{
    border-color: green;
}

.wrong{
    border-color: red;
}